body{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}


header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.navi nav{
    display: inline-flex;
    justify-content: space-between;
    width: 50vh;
    color: green;
    box-shadow: 1px 1px 5px;
    padding: 7px;
    border-radius: 20px;
}

.navi a{
    padding: 5px;
    text-decoration: none;
    color: green;
    font-family:Arial, Helvetica, sans-serif ;
}

.navi button{
    border: none;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
    color: green;
    cursor: pointer;
    transition: 0.3s ease;

}


.logo{
    display:inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    
}

.logo img{ 
    padding: 5px;
    height: 60px;
    border-radius: 50px;
    color:green;
    cursor: pointer;
    transition: 0.3s ease;
}

.login{
    display: inline-flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    border-radius: 20px;

}

.login .button1{
    border: none;
    height: 30px;
    width: 80px;
    padding: 8px;
    background-color: white;
    color: green;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.login .button2{
    height: 30px;
    width: 70px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.highlight{
    display:grid;
    grid-template-columns: 2fr 1fr;
    height: 45vh;
    align-items: center;

}

.highlight .text{
    width: 70vh;
}

.highlight img{
    height: 40vh;
    border-radius: 15px;
    color: green;
    cursor: pointer;
    transition: 0.3s ease;
}

footer{
    display:flex;
    gap: 5px;

}

footer .button1{
    border: none;
    height: 30px;
    margin: 10px;
    padding: 8px;
    background-color:green;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer .button2{
    border: none;
    height: 30px;
    margin: 10px;
    padding: 8px;
    background-color:white;
    color:green;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.button2:hover{
    transform: scale(1.1);
    box-shadow:1px 1px 3px;
}

.button1:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 3px;
}

.navi button:hover{
    transform: scale(1.05);
}

.highlight img:hover{
    box-shadow: 4px 4px 7px;
    transform: scale(1.04) rotate(0.5deg);
}

.logo img:hover{
    box-shadow: 4px 4px 7px;
    transform: scale(1.04);
}

.cards{
    display:flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
    gap: 30px;
    
}

.cards .card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 48%;
    height: 70vh;
    border-radius: 15px;
    box-shadow: 1px 1px 3px;
    color: green;
    background-color:rgb(237, 236, 236);
    transition: 0.3s ease;
}

.card-span{
    display: inline-flex;
    height: 60vh;
    background-color: rgb(123, 71, 52);

}

.card-span img{
    height: 60vh;
}

.card-span .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-span .text p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10vh;
    padding-right: 5vh;
    font-size: larger;
}

.card-span .text h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10vh;
    padding-right: 5vh;
    font-size: 7vh;
}

.card-span button{
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 20px;
    background-color: green;
    color: white;
    transition: 0.3s ease;
}

.card-span button:hover{
    transform: scale(1.05);
}

.card img{
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.card p,h2{
    margin: 5px;
    padding: 20px;
    color:rgb(0, 93,65);
}

.card .info{
    margin-left: 20px;
    
}

.card button{
    margin-left: 25px;
    height:35px;
    width: 90px;
    padding: 5px;
    border: none;
    background-color: green;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.info .button-long{
    width: 120px;
}

.card:hover{
    box-shadow: 4px 4px 7px;
    transform: scale(1.02);
}

.card button:hover{
    transform: scale(1.05);
}